# server and workers
gunicorn==23.0.0
uvicorn-worker==0.4.0

mysqlclient==2.2.8

#Django
Django==5.2.13
django-mysql==4.19.0
django-webpack-loader==3.2.3  
django-lti==0.9.2
django-csp==4.0


#Django Rest Framework
djangorestframework==3.17.1
django-filter==24.3
drf-spectacular==0.29.0
markdown==3.10.2
drf-api-tracking==1.8.4

debugpy==1.8.20 # For debugging

servestatic==3.1.0
redis==5.3.1 # For caching

django-watchman==1.5.0 # For status monitoring
canvasapi==3.6.0 # For Canvas API

django-q2==1.9.0
# user for reloading django-q processes
watchfiles==1.1.1
# cluster monitoring https://django-q2.readthedocs.io/en/master/monitor.html
blessed==1.38.0

coverage==7.13.5

# Not in pypi https://github.com/Harvard-University-iCommons/django-canvas-oauth
https://github.com/Harvard-University-iCommons/django-canvas-oauth/archive/v1.1.1.tar.gz