.logo-config {
  vertical-align: middle !important;
  width: 100%;
  height: auto;
  width: calc(100px + 6 * ((100vw - 320px) / 680))
}

.c-footer-style {
  padding: 20px;
  background: #333333;
  color: #ffffff;
}
.footer-heading-row {
  font-size: 21px !important;
  font-weight: bold;
}

.navbar-brand:hover, .c-underline {
  text-decoration: underline;
}




