/* #page-container {
  position: absolute;
  min-height: 100vh;
}
  
#content-wrap {
  padding-bottom: 2.5rem;    
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333333;
}

.footer-content {
  display: flex;
  text-align: justify
}

.footer-text {
  color: #ffffff;
  font-size: 0.8rem;
}

.footer-logo {
  margin: 20px auto;
  padding: 0;
  display: block;
  width: 150px;
}

nav ul {
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}  */

/* *{
  box-sizing: border-box;
}  */

body {
  font-family: Roboto, sans-serif;
  padding: 10px;
  background: #fffefe;
  font-size: 1em;
  overflow-y: scroll; 
}

/* Header/Blog Title */
.header {
  padding: 10px;
  text-align: left;
  background: #00274c;
  color: #ffffff;
}

.header h1 {
  font-size: 30px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background: #e9ecef;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #4A6D95;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #E4E1DF;
  color: #4A6D95;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #333333;
  color: #9B9B9B;
  margin-top: 20px;
}
.footer-content {
  display: flex;
  text-align: justify
}

.footer-text {
  color: #ffffff;
  font-size: 0.8rem;
}

.footer-logo {
  margin: 20px auto;
  padding: 0;
  display: block;
  width: 150px;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}